/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 14, 2015, 12:48:01 PM
    Author     : Daniel
*/

   .form_container{
        width:50%;
        border:1px solid red;
        font-family:Arial;
        display: inline-box;

    }
    
    #Address {
       width: 92.2%; 
       box-shadow: #CCC
    }
    
    #City {
      width: 45.8%;
      box-shadow: #CCC
    }
    
    #State {
      width: 15%;
      margin-right: 2%;
    }
    
    #Zip {
      width: 23%;
    }
    
    #User {
      text-align: left;
      width: 45%;
    }
    
    #Password {
      text-align: left;
      width: 40.4%;
    }
    
    #first_name{
        width: 40%;
    }
    
    #last_name{
       width:  39.5%;
    }
    
    .first{
        display: inline;
        width: 10%;
    }
     .second{
         width: 10%;
        display: inline;
    }
        
        
    .test{
    }

    
  